{% extends "cms/base.html" %}

{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- Content from CMS -->
{% include_block page.content %}

<!-- Search Bar -->
<div class="md:grid md:grid-cols-4 md:gap-6 mt-8">
    <section id="article-search-and-filters">
        <div class="collapse max-md:collapse-arrow border border-secondary rounded md:sticky md:top-16 md:collapse-open">

            <!-- Hidden toggle to make the filter section collapsible on mobile -->
            <input type="checkbox" class="md:hidden" />

            <!-- Filter title -->
            <div class="collapse-title md:cursor-default">
                <h4 class="my-0">Search & Filters</h4>
            </div>

            <!-- Filter content -->
            <div class="collapse-content md:block">
                <div id="article-filter-inputs" class="flex flex-col gap-4 px-1">
                    <!-- Search input -->
                    <input type="text" id="searchInput" name="search" maxlength="100"
                        class="input input-bordered input-accent"
                        placeholder="Search Articles" aria-label="Search">
                    <!-- Article Type Filters -->
                    <h5 class="my-0">Article Type</h5>
                    <div class="flex flex-col gap-2">
                        {% for choice in all_article_types %}
                        <span>
                            <label class="label cursor-pointer">
                                <input type="checkbox" class="checkbox checkbox-accent checkbox-sm"
                                name="type" value="{{ choice|slugify }}"
                                {% if choice|slugify in type_filter %}checked{% endif %}>
                                <span class="label-text">{{ choice }}</span>
                            </label>
                        </span>
                        {% endfor %}
                    </div>
                    <!-- Topic Filters -->
                    <h5 class="my-0">Topics</h5>
                    <div class="flex flex-col gap-2">
                        {% for topic in all_topics %}
                        <span>
                            <label class="label cursor-pointer">
                                <input type="checkbox" class="checkbox checkbox-accent checkbox-sm"
                                name="topic" value="{{ topic|slugify }}"
                                {% if topic|slugify in topics_filter %}checked{% endif %}>
                                <span class="label-text">{{ topic }}</span>
                            </label>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section
    id="highlights-and-editorials" class="md:col-span-3 max-md:mt-8"
    hx-get="{{ request.path }}"
    hx-trigger="input from:#article-filter-inputs delay:300ms"
    hx-include="#article-filter-inputs input"
    hx-target="#articles-list"
    hx-swap="innerHTML"
    hx-indicator="#article-loading"
    >
    <div class="relative min-h-20">
        <div id="article-loading"
             class="htmx-indicator absolute inset-0 bg-base-100/80 flex items-center justify-center z-10 rounded-box">
            <span class="loading loading-spinner text-accent loading-lg" aria-label="Loading"></span>
        </div>
        <div id="articles-list">
            {% include "cms/components/highlights_and_editorials_list.html#articles_grid" with articles_list=articles_list only %}
        </div>
    </section>
</div>

{% endblock %}
