{% load wagtailcore_tags %}

<figure class="my-8" role="img" aria-label="{{ value.alt_text }}">
    <div id="plotly-{{ value.figure_id }}"
         style="height: {{ value.height }}px;"
         data-figure-id="{{ value.figure_id }}">
    </div>

    {% if value.caption %}
    <figcaption class="text-sm text-gray-600 mt-2">
        {{ value.caption }}
    </figcaption>
    {% endif %}

    {% if value.script_github_url %}
    <p class="text-sm mt-1">
        <a href="{{ value.script_github_url }}" class="link" target="_blank" rel="noopener">
            Code used to produce plot
        </a>
    </p>
    {% endif %}
</figure>
